.about figure {
  padding: 10px 0px;
}
.about h1 {
  font-size: 3.5em;
  padding: 40px 0px;
}
.about .intro_words {
  margin-top: -10px;
}
.about h2 {
  font-size: 2.5em;
  text-decoration: underline;
  line-height: 1em;
  margin-bottom: 1em;
}
.about p {
  margin: 40px 0px;
  line-height: 1.5em;
  font-size: 1.5em;
}
.about .resume {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .resume a {
  text-decoration: none;
  color: #F2F2F2;
  text-align: center;
  font-size: 2em;
}
.about .resume a:hover {
  color: red;
}