.contact {
  /*content container end*/
}
.contact .contact_name {
  text-align: center;
  margin: 100px 0px;
  font-size: 5em;
}
.contact .content_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: #F2F2F2;
  /*social media end*/
}
.contact .content_container h1 {
  font-size: 3em;
}
.contact .content_container .contact_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .content_container .contact_information .lets_connect {
  margin-bottom: 100px;
}
.contact .content_container .contact_information .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  padding: 0px 100px;
}
.contact .content_container .contact_information .email h1 {
  font-size: 2em;
}
.contact .content_container .contact_information .email p {
  font-size: 2em;
}
.contact .content_container .social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 50px;
  width: 50%;
}
.contact .content_container .social_media i {
  color: white;
}
.contact .content_container .social_media h1 {
  margin-bottom: 130px;
}
.contact .content_container .social_media .social_media_icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

/*contact end*/