main {
  display: flex;
  align-items: center;
  /*contact end*/
}
main .contact {
  width: 370px;
  margin-top: 50px;
  /*content container end*/
}
main .contact .contact_name {
  text-align: center;
  margin: 50px 30px;
  font-size: 3.5em;
}
main .contact .content_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: #F2F2F2;
  /*social media end*/
}
main .contact .content_container h1 {
  font-size: 1.5em;
}
main .contact .content_container .contact_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid #F2F2F2;
  padding-right: 15px;
}
main .contact .content_container .contact_information .lets_connect {
  margin-bottom: 35px;
  text-align: center;
}
main .contact .content_container .contact_information .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact .content_container .contact_information .email h2 {
  font-size: 1em;
}
main .contact .content_container .contact_information .email h3 {
  font-size: 1em;
  margin-top: 15px;
}
main .contact .content_container .social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px;
  width: 50%;
}
main .contact .content_container .social_media i {
  color: white;
}
main .contact .content_container .social_media h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0px 35px;
}
main .contact .content_container .social_media .social_media_icons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  main .contact {
    width: 500px;
    height: 350px;
  }
  main .contact .contact_information {
    padding-right: 30px;
  }
}