html {
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

p, li {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
}

h2 {
  color: #F2F2F2;
}

figure {
  margin: 0px;
}

img {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #F2F2F2;
  margin: 0px;
  /*header end*/
  /*main end*/
  /*footer end*/
}
body header {
  background-color: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
body header nav {
  margin: 60px 0px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
body header nav #myLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
body header nav .name {
  width: 80%;
}
body header nav a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
body header nav a:hover {
  color: red;
}
body main {
  display: flex;
  flex-direction: column;
  /* projects home-page*/
  /* projects home-page end*/
  /*skills home-page*/
}
body main .content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 55px;
}
body main .hero .intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .hero .intro h1 {
  margin: 40px 30px;
  text-align: center;
  font-size: 3em;
  line-height: 1.5em;
}
body main .projects_home_page {
  /* project box*/
}
body main .projects_home_page a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}
body main .projects_home_page h1 {
  margin: 0px 0px 80px;
  font-size: 2em;
}
body main .projects_home_page .project_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  /*img end*/
}
body main .projects_home_page .project_box img {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .projects_home_page .project_box .middle_text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
body main .projects_home_page .project_box .middle_text h3 {
  color: white;
  font-size: 1.5em;
}
body main .projects_home_page .project_box:hover .middle_text {
  opacity: 1;
}
body main .projects_home_page .project_box:hover img {
  opacity: 0.2;
}
body main .skills_and_tools h1 {
  font-size: 2em;
  margin-bottom: 50px;
}
body main .skills_and_tools .skill_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .skills_and_tools .skill_list h2 {
  color: #F2F2F2;
  margin: 20px;
}
body footer {
  margin-bottom: 20px;
  /*contact end*/
}
body footer .copyright {
  /*content container end*/
}
body footer .copyright .content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: #F2F2F2;
}
body footer .copyright .content_container h2 {
  font-size: 1em;
}
body footer .copyright .content_container .copyright_date {
  margin-right: 20px;
  border-right: 1px solid white;
  padding-right: 20px;
}

/*body end*/
@media screen and (min-width: 768px) {
  body {
    /*header end*/
    /*main end*/
  }
  body header nav .name {
    width: 40%;
  }
  body header nav a {
    font-size: 1.5em;
  }
  body header nav #myLinks {
    width: 35%;
  }
  body main {
    /* projects home-page*/
    /* projects home-page end*/
    /*skills home-page*/
  }
  body main .hero .intro h1 {
    font-size: 4em;
  }
  body main .projects_home_page {
    /* project box*/
  }
  body main .projects_home_page h1 {
    margin: 0px 0px 80px;
    font-size: 3em;
  }
  body main .projects_home_page .project_box {
    width: 65%;
  }
  body main .projects_home_page .project_box .middle_text h3 {
    font-size: 3em;
  }
  body main .skills_and_tools h1 {
    font-size: 3em;
  }
  body main .skills_and_tools .skill_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 140px;
  }
  body main .skills_and_tools .skill_list h2 {
    padding: 10px;
  }
  /*body end*/
}
@media screen and (min-width: 1024px) {
  body {
    /*header end*/
    /*main end*/
  }
  body header nav .name {
    width: 40%;
  }
  body header nav a {
    font-size: 1.5em;
  }
  body header nav #myLinks {
    width: 25%;
  }
  body main {
    /* projects home-page*/
    /* projects home-page end*/
    /*skills home-page*/
  }
  body main .hero .intro h1 {
    font-size: 5em;
  }
  body main .projects_home_page {
    /* project box*/
  }
  body main .projects_home_page h1 {
    margin: 0px 0px 80px;
    font-size: 3em;
  }
  body main .projects_home_page .project_box .middle_text h3 {
    font-size: 3em;
  }
  body main .skills_and_tools h1 {
    font-size: 3em;
  }
  body main .skills_and_tools .skill_list h2 {
    padding: 10px;
  }
  /*body end*/
}