.back_to_portfolio {
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  margin-left: 50px;
}
.back_to_portfolio a {
  text-decoration: none;
  color: #F2F2F2;
}
.back_to_portfolio a:hover {
  color: red;
}

.portfolio_pieces ul {
  margin-top: -15px;
}
.portfolio_pieces li {
  font-size: 1em;
  margin-bottom: 10px;
}
.portfolio_pieces figure {
  padding: 10px 0px;
}
.portfolio_pieces figure img {
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio_pieces h1 {
  font-size: 3em;
  padding: 40px 0px;
}
.portfolio_pieces h2 {
  font-size: 2em;
  text-decoration: underline;
  line-height: 1em;
  margin: 1em 0em;
}
.portfolio_pieces h3 {
  font-size: 1.5em;
  text-decoration: underline;
}
.portfolio_pieces p {
  margin: 40px 0px;
  line-height: 2em;
  font-size: 1em;
}
.portfolio_pieces .live_page_button {
  display: flex;
  justify-content: center;
}
.portfolio_pieces .live_page_button .live_page {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  background-color: red;
  text-align: center;
  margin-top: 50px;
}
.portfolio_pieces .live_page_button .live_page a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 1.25em;
}
.portfolio_pieces .live_page:hover {
  background-color: #F2F2F2;
}
.portfolio_pieces .live_page:hover a {
  color: red;
}

/* portfolio pieces end */
@media screen and (min-width: 768px) {
  .back_to_portfolio {
    margin-left: 110px;
  }
  .back_to_portfolio a {
    font-size: 1.25em;
  }
  .portfolio_pieces {
    /* portfolio pieces end */
  }
  .portfolio_pieces li {
    font-size: 1.25em;
    margin: 0px 140px 10px;
  }
  .portfolio_pieces figure {
    padding: 10px 0px;
    margin: 0px 140px;
  }
  .portfolio_pieces figure img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio_pieces h1 {
    font-size: 3.5em;
    padding: 40px 0px;
    margin: 0px 140px;
  }
  .portfolio_pieces h2 {
    font-size: 2.5em;
    margin: 16px 140px;
  }
  .portfolio_pieces h3 {
    font-size: 1.5em;
    text-decoration: underline;
  }
  .portfolio_pieces p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 40px 140px;
  }
  .portfolio_pieces .live_page_button .live_page {
    width: 200px;
    padding: 20px 0px;
    margin-top: 70px;
  }
}