// Scss Document

$off-white-primary: #F2F2F2;
$yellow-green-secondary: #EFFAA0;
$accent-brown: #B05404;
$accent-blue: #374EFF;

$heading-font: 'Playfair Display', serif;
$paragraph-font: 'Raleway', sans-serif;

html{
	font-size: 16px;
	
}

h1, h2, h3, h4{
	margin: 0px;
	font-family: $paragraph-font;
}
p,li{
	font-family: $paragraph-font;
	line-height: 1.50em;
}
h2{
	color: $off-white-primary;
}
figure{
	margin: 0px;
}
img{
	width: 100%;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }

body{
	
	display: flex;
	flex-direction: column;
	
	background-color: black;
	color: $off-white-primary;
	margin: 0px;
	position: relative;
	

header{

	background-color: black;
	z-index: 10;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	position: sticky;
	top: 0px;
	
	nav{
		margin:40px 0px 0px;
		background-color:black;
		position: relative;
		width: 85%;
	
	#myLinks{
		display: none;
		}
	
		a{
			font-family: $paragraph-font;	
			font-size: 1.10em;
			color: white;
			text-decoration: none;
			display: block;
			margin: 40px 0px;
			text-align: center;
		
			
				}
				
		
		a:hover {
		 
		  color: $accent-blue;
			
		}
		
		.name{
			width: 40%;
			text-align: initial;

		}
		.icon{
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			
		}
	
	}
} /*header end*/

main{
	display: flex;
	flex-direction: column;
	
	
	.content_container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 55px;
		
		}
	
	
	.hero{
		
		
		.intro{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			
			h1{
				margin: 40px 30px;
				text-align: center;
				font-size: 3em;
				line-height: 1.5em;
			}
		}
		
	}			
	
	
/* projects home-page*/
	.projects_home_page{
	
		display: flex;
		flex-direction: column;
		align-items: center;
		a{
			font-size: 1em;
			color: white;
	  text-decoration: none;
		}
		
		h1{
			margin: 0px 0px 80px;
			font-size: 2em;
		}
	
	.project_box{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 75px;
		
		position: relative;
		
		img{
				
			  opacity: 1;
			  display: block;
			  transition: .5s ease;
			
			  width: 100%;
			  height: 100%;
			  object-fit: cover;

			} /*img end*/		
	
		
		.middle_text{
			
		transition: .5s ease;
		  opacity: 0;
		  position: absolute;
		  top: 25%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  text-align: center;
		  
		  h2{
			
			  color: white;
			  font-size: 1.5em;
			  
		}
			
		}

		h3{
			margin: 30px 0px;
			line-height: 1.5em;
		}

		.live_page{
			padding: 20px;
                    border-radius: 50px;
                    background-color: $accent-blue;
                    text-align: center;
                   
		}

		.live_page:hover {
			background-color: $off-white-primary;
		   
		}
		.live_page:hover a{
		   color: $accent-blue;
		}
		
		} /* project box*/
		
		.project_box:hover .middle_text{
			opacity: 1;
		}
		.project_box:hover img{
			opacity: .2;
		}
		
		
		
	} /* projects home-page end*/


	/*skills home-page*/
	.skills_and_tools{
		h1{
			font-size: 2em;
			margin-bottom: 50px;
		}
	.skill_list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		h2{
			color: $off-white-primary;
			
			margin: 20px;
			
			
			
		}
	}
	
	}	


	
} /*main end*/
	
footer{
	margin-bottom: 50px;
.copyright{
	.content_container{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px;
		color: $off-white-primary;
	
		h2{
			font-size: 1em;
		}
		
	
	.copyright_date{
		margin-right: 20px;
		border-right: 1px solid white;
		padding-right: 20px;
	}
	}/*content container end*/
} /*contact end*/
}/*footer end*/

}/*body end*/	

@media screen and (min-width: 768px) {

body{ 
	header{ 
				
		nav{ 
			display: flex;
			justify-content: space-between;
			margin: 40px 0px;
			
			 .name{
				width: 30%;
				text-align: none;
				
			}
			a{
				font-size: 1.25em;
				text-align: none;
			}
			.icon i{
				display: none;
			}
			#myLinks{	
			display: flex !important;
			justify-content: space-between;	
			width: 60%;
			
			
			}
		}
	}/*header end*/
	
	main{

		
		.hero{

			.intro{
				
				h1{
					
					font-size: 4em;
					
				}
			}
			
		}
		
		/* projects home-page*/
	.projects_home_page{
	
		
		h1{
			margin: 0px 0px 80px;
			font-size: 3em;
		}
		.content_container{

			flex-direction: row;
			flex-wrap: wrap;
			margin: 0px;
		.project_box{
			width: 300px;
			height: 600px;
			margin: 50px 20px;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			img{
				width: 300px;
				height: 300px;
				object-fit: cover;
			}
			
		.middle_text{
			top: 25%;
		h2{
			
			font-size: 2em;
			
	 	 }
		}

		.project_description{
			
			margin: 30px 50px;
			text-align: center;
		}
		
		}	/* project box*/
	}/* content container*/
	}/* projects home-page end*/

	/*skills home-page*/
	.skills_and_tools{
		h1{
			font-size: 3em;
			
		}
		
		.skill_list{
			display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0px 140px;
		
		h2{

			padding: 10px;

		}

		}
	}
	}/*main end*/

	
}/*body end*/


}	


@media screen and (min-width: 1024px) {

	body{ 

		header{ 		
			nav{ 
				.name{
					width: 40%;
				}
				a{
					font-size: 1.5em;
				}
			}
		}/*header end*/
		
		main{
			.hero{
	
				.intro{
					
					h1{
						
						font-size: 5em;
						
					}
				}
				
			}
			
			/* projects home-page*/
		.projects_home_page{
		
		.content_container{

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0px 20px 20px;

			h1{
				margin: 0px 0px 80px;
				font-size: 3em;
			}
	
			.project_box{

			.middle_text{
			h2{
				
				font-size: 2em;
				
			  }
			}

			.project_description{
				text-align: center;
			}
			
			}	/* project box*/
		}/* content container*/
		}/* projects home-page end*/
	
		/*skills home-page*/
		.skills_and_tools{
			h1{
				font-size: 3em;
				
			}
			
			.skill_list{
			
			h2{
	
				padding: 10px;
	
			}
	
			}
		}
		}/*main end*/
		
	}/*body end*/
	
	
	}		