$off-white-primary: #F2F2F2;
$yellow-green-secondary: #EFFAA0;
$accent-brown: #B05404;
$accent-red: red;

$heading-font: 'Playfair Display', serif;
$paragraph-font: 'Raleway', sans-serif;

main{
	display: flex;
	align-items: center;
.contact{
	
	min-width: 350px;
	max-width: 500px;
	margin-top: 50px;
	.contact_name{
		
		text-align: center;
		margin: 50px 30px;
		font-size: 3.5em;
	}
	.content_container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		margin: 30px;
		color: $off-white-primary;
	
		h1{
			font-size: 1.5em;
		}
		
	#email_connect{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		border-right: 1px solid $off-white-primary;
		padding-right: 15px;
		text-decoration: none;
		color: $off-white-primary;

		
		.lets_connect{
			margin-bottom: 35px;
			text-align: center;
			

		}
	.email{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2{
			font-size: 1em;
		}

		h3{
			font-size: 1em;
			margin-top: 15px;
		}
		}
	}	


	.social_media{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 30px;
		width: 50%;
		
		
		i{
			color: white;
		}

		h1{
			font-size: 1.5em;
			text-align: center;
			margin: 10px 0px 35px;

		}

	

		.social_media_icons{
			display: flex;
			width: 100px;
			justify-content: space-between;
			
			
		}
	}/*social media end*/
	}/*content container end*/
} /*contact end*/
}

@media screen and (min-width: 768px){
	main{
		
	.contact{
		
		width: 500px;
		height:350px;
		
		
		.contact_information{
			padding-right: 30px;

		}
	}
}
		
}