$off-white-primary: #F2F2F2;
$yellow-green-secondary: #EFFAA0;
$accent-brown: #B05404;
$accent-red: red;

$heading-font: 'Playfair Display', serif;
$paragraph-font: 'Raleway', sans-serif;

   .back_to_portfolio{
                
                padding-bottom: 50px;
                display: flex;
                width: 100%;
                margin-left:50px;
                    a{
                    text-decoration: none; 
                    color:$off-white-primary;  
                   
                } 
                
                a:hover{
                    
                    color: red;
                }
            }
        
   .portfolio_pieces{

        li{
            font-size: 1em;
            margin-bottom: 10px;
        }

                figure{
                   
                    padding: 10px 0px;
                    
                   

                    img{
                        object-fit: cover;
                        
                    }
                }
                h1{
                    font-size: 3em;
                    padding:40px 0px;
                }
                h2{
                    font-size: 2em;
                    text-decoration: underline;
                    line-height: 1em;
                    margin: 1em 0em;
                }
                h3{
                    font-size: 1.5em;
                    text-decoration: underline;
                }
                p{
                    margin: 40px 0px;
                    line-height: 2em;
                    font-size: 1em;
                }
                
                .live_page_button{

                    display: flex;
                    justify-content: center;
                .live_page{
                    
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    border-radius: 50px;
                    background-color: red;
                    text-align: center;
                    margin-top: 50px;
                    
                   
                    a{
                       
                        text-decoration: none;
                       color: $off-white-primary;
                       font-size: 1.25em;
                    
                        
                    }
                    
                   
                }
                }
                .live_page:hover {
                    background-color: $off-white-primary;
                   
                }
                .live_page:hover a{
                   color: red;
                }
                
              } /* portfolio pieces end */

 @media screen and (min-width: 768px) {
    .back_to_portfolio{
       
        margin-left:110px;
            a{
            font-size: 1.25em; 
           
        } 
    }
 
 .portfolio_pieces{

    li{
        font-size: 1.25em;
        margin: 0px 140px 10px;
    }

            figure{
               
                padding: 10px 0px;
                margin: 0px 140px;
               

                img{
                    object-fit: cover;

                    
                }
            }
            h1{
                font-size: 3.5em;
                padding:40px 0px;
                margin: 0px 140px;
            }
            h2{
                font-size: 2.5em;
                
                margin: 16px 140px;
            }
            h3{
                font-size: 1.5em;
                text-decoration: underline;
            }
            p{
              
                font-size: 1.5em;
                line-height: 1.5em;
                margin: 40px 140px;
            }
            
          .live_page_button{
          .live_page{
            width: 200px;
            padding: 20px 0px;
            margin-top: 70px;
           
          }
            
          } /* portfolio pieces end */
        
        }
}