$off-white-primary: #F2F2F2;
$yellow-green-secondary: #EFFAA0;
$accent-brown: #B05404;
$accent-blue: #374EFF;

$heading-font: 'Playfair Display', serif;
$paragraph-font: 'Raleway', sans-serif;
body{
    main{
.about{

    .content_container{
        
figure{
    padding:10px 0px;
}

h1{
    font-size: 2em;
    padding:40px 0px;
}

.intro_words{
margin-top: -10px;

    a{
        text-decoration: none;
        color: $off-white-primary;
    }
}

.my_experiences, .education, .skills, .fun_fact{
    margin-top: 80px;
}
h2{
    font-size: 1.5em;
    text-decoration: underline;
    line-height: 1em;
    margin-bottom: 1em;
}

p{
    margin: 40px 0px;
    line-height: 1.5em;
    font-size: 1em;
}
h3{
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.5em;
}
.resume{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 55px;
   
a{
    text-decoration: none;
    color: $off-white-primary;
    text-align: center;
    font-size: 1em;
    border: 1px solid $accent-blue;
     padding: 10px;
    
}
a:hover{
            
    color: $accent-blue;
}
}
    }
}
    }
}

@media screen and (min-width: 768px){

    .about{
        .content_container{
            width: 90%;
            margin: 0px auto;
            
        figure{
                    width: 60%;
                    
                }

            .about_me{
        
                display: flex;
                flex-direction: column;
                align-items: center;
        h1{
            font-size: 3em;
            padding: 0px;
            margin: 40px auto;
            
        }
        
        .intro_words,
        .skills,
        .education,
        .my_experiences,
        .fun_fact{
        
        width: 60%;
        }
        
        h2{
            font-size: 2em;
            text-decoration: underline;
            line-height: 1em;
            margin-bottom: 1em;
            margin: 0px;
        }
        
        p{
            margin: 40px 0px;
            line-height: 1.25em;
            font-size: 1.25em;
            
        }

       /* .flex_this{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 20px auto;
            
            .my_experiences, .education, .skills, .fun_fact{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 48%;

            p{
                text-align: left;
            }
        }

        
        }*/


        
        h3{
            margin: 40px 0px;
            line-height: 1.25em;
            font-size: 1.5em;
        }
        .resume{
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 30px 0px;
            
        a{
            text-decoration: none;
            color: $off-white-primary;
            text-align: center;
            font-size: 1.25em;
            
        }
        a:hover{
                    
            color: $accent-blue;
        }
    }

     }
     }
    }
}

@media screen and (min-width: 1024px){
body{
main{
    .about{
        .content_container{
            
            align-items: flex-start;
            
           
            figure{
                width: 40%;
                position: fixed;
                top: 150px;
                right: 150px;
                margin-top: 75px;
            }

            .about_me{

              width: 50%;

            .resume{
                margin: 30px 0px;
            }

        }
            }   
        
    }
 }


}
}