$off-white-primary: #F2F2F2;
$yellow-green-secondary: #EFFAA0;
$accent-brown: #B05404;
$accent-red: red;

$heading-font: 'Playfair Display', serif;
$paragraph-font: 'Raleway', sans-serif;

.about{
figure{
    padding:10px 0px;
}

h1{
    font-size: 3.5em;
    padding:40px 0px;
}

.intro_words{
margin-top: -10px;
}

h2{
    font-size: 2.5em;
    text-decoration: underline;
    line-height: 1em;
    margin-bottom: 1em;
}

p{
    margin: 40px 0px;
    line-height: 1.5em;
    font-size: 1.5em;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
a{
    text-decoration: none;
    color: $off-white-primary;
    text-align: center;
    font-size: 2em;
    
}
a:hover{
            
    color: red;
}
}

}